body {
	background: #cce6ff;
}

.border {
	padding: 10px;
	border: 1px solid black;
}	


.flex-2 {
	flex: 2;
}

.flex-inner-2 {
	flex: 1;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.flex-1 {
	flex: 2;
}

.background {
	background: #b3f0ff;
	height: 100px;
}	

