body {
	background: #cce6ff;
}

.border {
	padding: 10px;
	border: 1px solid black;
}	


.flex-2 {
	flex: 2;
}

.flex-inner-2 {
	flex: 1;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.flex-1 {
	flex: 1;
}

.background {
	background: #b3f0ff;
}	

.size {
	height: 300px;
}

.size-2 {
	height: 150px;
}

aside {
	background: #ffff66;
	justify-content: space-between;
}

aside div {
	margin: 5px;
	background: #b3ffe0;
	padding: 10px;
}
